.add-cat-header {
  font-size: 18px;
  margin: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-cat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.about-your-cat-header {
  font-size: 14px;
  margin: 0 0 10px 0;
  text-align: center;
}

.about-your-cat {
  margin: 0 0 20px 0;
}
.new-cat-form-input {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 12px;
}

.care-instructions-header {
  font-size: 14px;
  margin: 0 0 10px 0;
  text-align: center;
}

.care-instructions {
  margin: 0 0 20px 0;
}

.dynamic-care {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dynamic-button {
  font-size: 16px;
  text-decoration: none;
  color: rgb(49, 152, 230);
  margin: 0 0 0 10px;
}

.dynamic-button:hover {
  cursor: pointer;
}
.remove-cat {
  font-size: 12px;
  margin: 10px 0 0 0;
  text-align: center;
  color: rgb(239, 130, 130);
}

.remove-cat:hover {
  cursor: pointer;
  transform: scale(1.15)
}

@media (min-width: 850px) {
  .add-cat-header {
    font-size: 32px;
  }

  label {
    font-size: 14px;
  }

  .add-cat-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 70%;
  }

  .about-your-cat-header {
    font-size: 16px;
  }

  .care-instructions-header {
    font-size: 16px;
  }

  .remove-cat {
    font-size: 14px;
  }
  
}