.available-requests-wrapper {
  margin: 15px;
}

.requests-available {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.individual-request-wrapper {
  display: flex;
  flex-direction: column;
  /* flex-direction: row;
  justify-content: space-between; */
  align-items: center;
  padding: 10px;
  min-height: 50px;
  width: 90%;
  margin: 0 0 10px 0;
}

.available-request-time-requester {
  border: solid skyblue;
  border-width: 0 0 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  min-height: 50px;
  width: 75%;
  margin: 0 0 10px 0;
}

.p-accept-request {
  font-size: 12px;
  margin: 10px 0;
}

.p-accept-request:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  .individual-request-wrapper {
    max-width: 1200px;
  }  

  .p-accept-request {
    font-size: 16px; 
  }
}