h1 {
  font-size: 18px;
}

.p-landing {
  max-width: 300px;
  font-size: 12px;
  text-align: flex-start;
}

.landing-wrapper {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 15px;
}

.landing-bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:paleturquoise;
  border: solid 3px skyblue;
  border-radius: 30px;
  margin: 15px 0;
  min-height: 160px;
  padding: 20px;
  width: 70%;
}

.bubble-text {
  font-size: 22px;
}

.landing-features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 20px;
  width: 70%;
  margin: 20px 0 0 0;
}

@media (min-width: 800px) {
  h1 {
    font-size: 32px;
  }

  .p-landing {
    font-size: 16px;
  }

  .landing-bubble {
    width: 750px;
  }

  .bubble-text {
    font-size: 42px;
  }

  .landing-features {
    width: 750px;
    gap: 50px;
  }

}