.new-request-wrapper {
  margin: 15px;
}

.new-request-header {
  margin: 15px 0px;
}
.p-new-request {
  font-size: 12px;
}

.new-request-form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 10px;
}

.new-request-form-input {
  display: flex;
  flex-direction: column;
}

.no-cat-for-request {
  text-align: center;
}

.add-cat-from-request {
  text-decoration: none;
  color: rgb(49, 152, 230)
}

.delete-request {
  font-size: 12px;
  margin: 10px 0 0 0;
  text-align: center;
  color: rgb(239, 130, 130);
}

.submit:hover {
  cursor: pointer;
}

.delete-request:hover {
  cursor: pointer;
  transform: scale(1.15)
}

@media (min-width: 600px) {
  .p-new-request {
    font-size: 16px;
  }

  .new-request-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 15px;
  }

  .delete-request {
    font-size: 14px;
  }
}