.profile-wrapper {
  margin: 30px 50px;
}

.profile-header {
  font-size: 22px;
}

.p-profile-apartment-number {
  font-size: 16px;
  margin: 10px 0 20px 0;
}

.p-your-cats {
  font-size: 12px;
}

.your-cats-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.your-cats-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 10px 0;
}

.addbutton {
  color: rgb(49, 152, 230);
  font-size: 16px;
  text-decoration: none;
}

.addbutton:hover {
  cursor: pointer;
  transform: scale(1.15)
}

.your-cat-pill {
  background-color: paleturquoise;
  border: double 5px skyblue;
  border-radius: 30px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  min-height: 50px;
  width: 80%;
  margin: 0 0 10px 0;
}

.demographics {
  display: flex;
  flex-direction: column;
}

span {
  font-size: 11px;
  text-align: center;
}
.cat-info {
  width: 75%;
  border: solid skyblue;
  border-width: 3px 0;
  margin: 10px 0;
  padding: 10px 0;
}

.cats-left-wrapper {
  flex-grow: 10;
}

.cats-left {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.cats-right-wrapper {
  flex-grow: 1;
  max-width: 320px;
}

.cats-right {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.cats-middle {
  flex-grow: 2;
}

.p-cat-name {
  font-size: 14px;
  margin: 10px 0;
  font-weight: bold;
}

.p-cat-header {
  font-size: 14px;
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
}

.p-info-header {
  font-size: 12px;
  text-align: center;
}

.p-care-instructions {
  margin: 5px 0 0 0;
  text-align: center;
}

.p-care-header {
  font-size: 12px;
  text-align: center; 
}

.p-pills {
  font-size: 11px;
  max-width: 200px;
  margin: 5px 10px;
  text-align: left;
}

.p-update-cat {
  font-size: 12px;
  margin: 10px 0;
  text-decoration: none;
  color: black;
}

.p-update-cat:hover {
  transform: scale(1.15)
}

li {
  list-style-type: none;
}

@media (min-width: 600px) {
  .profile-header {
    font-size: 32px;
  }

  .p-profile-apartment-number {
    font-size: 20px;
  }

  .addbutton {
    font-size: 20px;
  }

  .p-pills {
    font-size: 16px;
    max-width: 400px;
    text-align: left;
  }

  .p-your-cats {
    font-size: 18px;
  }

  .p-update-cat {
    font-size: 16px;
  }

  .your-cats-header {
    max-width: 900px;
  }

  .your-cat-pill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
  }

  .demographics {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  span {
    font-size: 16px;
  }

  .cat-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .p-cat-name {
    font-size: 18px;
  }

  .p-cat-header {
    font-size: 16px;
    text-align: left;
  }

  .p-info-header {
    font-size: 16px;
    text-align: left;
  }

  .p-care-header {
    font-size: 16px;
    text-align: left;
  }
}

