.request-show-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px 50px;
}

.request-show-pill {
  background-color: paleturquoise;
  border: double 5px skyblue;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  min-height: 50px;
  width: 80%;
  margin: 0 0 10px 0;
}

.request-show-header {
  font-size: 18px;
  margin: 0 0 20px 0;
}

.request-cat-wrapper {
  border: solid skyblue;
  border-width: 3px 0;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  min-height: 50px;
  width: 90%;
  margin: 0 0 10px 0;
}

.p-request-cat-header {
  font-size: 16px;
  margin: 10px 0;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
}

.request-demographics {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.request-cat-info {
  width: 70%;
  margin: 10px 0;
  padding: 10px 0;
}
.p-cancel-edit-request{
  font-size: 12px;
  margin: 10px 0;
}

.messages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin: 15px;
  width: 90%;
}

.messages-left {
  display: flex;
  flex-direction: column;
  background-color: mediumslateblue;
  border: solid 3px purple;
  border-radius: 30px;
  text-align: left;
  align-self: flex-start;
  max-width: 40%;
  padding: 20px;
}

.messages-right {
  display: flex;
  flex-direction: column;
  background-color: rgb(232, 159, 56);
  border: solid 3px rgb(202, 108, 8);
  border-radius: 30px;
  text-align: right;
  padding: 20px;
  align-self: flex-end;
  max-width: 40%;
}

.message {
  font-size: 12px;
}

.message-timestamp {
  font-size: 10px;
}

.new-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.message-input {
  width: 90%;
  padding: 5px;
}

.submit {
  padding: 5px;
  background-color: paleturquoise;
  border: solid 3px skyblue;
  border-radius: 5px;
  font-size: 12px;
  color: black;
}

.submit:hover {
  transform: scale(1.15)
}

.cancel-catsitting {
  padding: 10px;
  font-size: 12px;
  text-decoration: none;
}

.cancel-catsitting:hover {
  cursor: pointer;
  transform: scale(1.15)
}

@media (min-width: 600px) {
  .request-show-header {
    font-size: 32px;
  }

  .request-show-pill {
    max-width: 900px;
  }

  .p-request-cat-header {
    font-size: 20px;
  }

  .request-cat-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .request-demographics {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .p-cancel-edit-request {
    font-size: 16px;
  }

  .cancel-catsitting {
    font-size: 16px;
  }

  .messages-wrapper {
    max-width: 1200px;
  }

  .message {
    font-size: 16px;
  }

  .message-timestamp {
    font-size: 14px;
  }

  .message-input {
    max-width: 1200px;
  }
  
  .submit {
    font-size: 16px;
  }
  
}