.signup-wrapper {
  margin: 30px 50px;
}

.p-signup {
  font-size: 12px;
}

.p-signup-header {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.p-login-link {
  text-decoration: none;
  color: rgb(49, 152, 230)
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.signup-form-input {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
}

@media (min-width: 600px) {
  .label {
    font-size: 16px;
  }

  .p-signup-header {
    font-size: 32px;
  }

  .p-signup {
    font-size: 16px;
  }

  .p-login-link {
    font-size: 16px;
  }

}