@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(7, 156, 215);
  border-bottom: double 10px white;
  text-align: center;
  padding: 15px;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  gap: 20px;
  justify-content: space-between;
}

.nav-text {
  color: white;
  font-size: 14px;
}

.logo-image {
  height: 30px;
  width: 42px;
}

.nav-link {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.nav-link:hover {
  transform: scale(1.15)
}

@media (min-width: 600px) {
  .nav-text {
    font-size: 22px;
  }

  .logo-image {
    height: 50px;
    width: 74px;
  }
}